<!DOCTYPE html>
<html>


<head>
    <title>
        404 Error
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    <div class="main_content">
        {{>Header}}
        <p class="Error">{{Error}}</p>
    </div>
    {{>Footer}}
</body>

</html>