<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    <div class="main_content">
        {{>Header}}
        <img class="robot" src="/img/Paras.png">
    </div>
    <h2>
        Hello there!<br></h2>
    <p>
        My name is Paras Kanwar,<br><br>
        I am currently pursuing B.Tech(3rd year in 2019)<br>
        Besides B.tech i Am Learning NodeJs...(As of Now in July 2019) And i love Programming in general<br>
    </p>


    {{>Footer}}
</body>

</html>