<!DOCTYPE html>
<html>


<head>
    <title>
        WeatherApp
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    {{>Header}}
    <div class="main_content">
        <p class="Help"><b>This Web_site is all about Weather. If you've come upon this
                website then you might probably be Seeking Weather informaition for Your location (As this Web_site
                don't
                have anything Much to offer right now #in Development Stage)
                So, For that Head up for the {{Home}} Tab Above.</b>
        </p>
    </div>
    {{>Footer}}
</body>

</html>