<!DOCTYPE html>
<html>


<head>
    <title>
        Help
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="space">
                    <div class="main_content">
                        {{>Header}}
                        <div class="img">

                            <p class="Help"><b>This Web_site is all about Weather.If you've come upon this
                                    website then you might probably be Seeking Weather informaition for Your location
                                    (As
                                    this
                                    Web_site
                                    don't
                                    have anything else to offer right now #in Development Stage)
                                    So, For that Heads up for the {{Home}} Tab Above.</b>
                            </p>
                        </div>
                    </div>
                    {{>Footer}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>