<!DOCTYPE html>
<html>


<head>
    <title>
        WeatherApp
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    <div class="main_content">
        {{>Header}}
        <p class="Help">This is my First ever Created Web site And it's all about Weather. If you've come upon this
            website then you might probably be Seeking Weather informaition for Your location
            So, For that Head up for the {{Home}} Tab Above.
        </p>
    </div>
    {{>Footer}}
</body>

</html>