<!DOCTYPE html>
<html>


<head>
    <title>
        Weather-app
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="space">
                    <div class="main_content">
                        {{>Header}}
                        <label>
                            <p id="query" style="font-family: Arial, Helvetica, sans-serif;font-size:16px;">Enter the
                                Location</p>
                        </label><br />
                        <form>

                            <input type="text" class="form-control" placeholder="Location" />
                            <div style="padding-top: 16px; padding-bottom : 12px;">

                                <button class="btn btn-outline-info btn-lg btn-block" class="background=blue">
                                    Get-Weather
                                </button>
                            </div>
                        </form>

                        <p id="message-1" style="font-family: Arial, Helvetica, sans-serif"></p>

                        <p id="message-2" style="font-family: Arial, Helvetica, sans-serif"></p>
                    </div>
                    {{>Footer}}
                    <script src="./js/app.js"></script>
                </div>
            </div>
        </div>
    </div>


</body>

</html>