<!DOCTYPE html>
<html>

<head>
    <title>
        Get_Weather
    </title>

    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    <div class="main_content">
        {{>Header}}
        <form>
            <input placeholder="Location" type="text">
            <button>Search For Weather</button>
        </form>
    </div>
    {{>Footer}}
</body>


</html>