<!DOCTYPE html>
<html>

<head>
    <title>
        Get_Weather
    </title>

    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">
</head>

<body>
    <div class="main_content">
        {{>Header}}
        <p>Get Your Weather here</p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search For Location Weather</button>
        </form>
        <p id="message-1"></p>
        <b>
            <p id="message-2"></p>
        </b>
    </div>

    {{>Footer}}
    <script src="./js/app.js"></script>
</body>


</html>