<footer class="footer">
    <div class="card-deck" style="padding-top: 15px;">
        <div class="card">
            <img class="card-img-top" src="img/w.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">The country most affected by tornadoes is the USA which faces on average 1200
                    tornadoes every year.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Do you Know?</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/light.jpeg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">It was so cold in 1684 that the Thames River in England froze solid for two months.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Do You Know?</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/Antartic.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">Lowest Temperature Recorded on Earth is -89.2°C (-128.5°F) at Vostok, Antarctica on
                    July 21, 1983.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Do you Know?</small>
            </div>
        </div>
    </div>



</footer>