<div class="header">


    <header>

        <img class="Logo" src="/img/Logo.png"><br />
        <label>

            <h1>{{Title}}</h1>
        </label>
        {{!-- navbar sticky-top navbar-light bg-light --}}
        {{!-- navbar navbar-expand-lg navbar-light sticky-top --}}
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #b4e0e6;">
            <a class="navbar-brand" href="#">
                <img src="img/weather.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Weather-App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    @ParasKanwar
                </span>
            </div>
        </nav>




    </header>
</div>