<header>

    <h1>{{Title}}</h1>
    <ul id="Navigation">
        <li class="Nav"><a href="/index">Get Weather</a></li>
        <li class="Nav"><a href="/about">About</a></li>
        <li class="Nav"><a href="/help">Help</a></li>
        {{!-- <li><a href="">Phenomenon</a></li> --}}
    </ul>
</header>