.Logo {
  width: 70px;
}
.header {
  padding-top: 15px;
}
.img {
  padding-top: 18px;
  text-align: center;
}
.robot {
  width: 150px;
  padding-bottom: 19px;
  margin: 0 auto;
}
.space {
  color: #333333;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main_content {
  flex-grow: 2;
}

.footer {
  border-top: 2px solid #bfdaec;
}
#message-1 {
  font-size: 20px;
  color: black;
  text-align: center;
}
#message-2 {
  font-size: 17px;
  color: gray;
  text-align: center;
}

.Help {
  font-size: 20px;
  color: gray;
  padding-top: 16px;
}
.about {
  font-size: 20px;
  color: gray;
}
.Error {
  font-size: 20px;
  color: black;
}
header {
  padding-top: 15px;
  padding-bottom: 16px;
}
